<%= form_with(model: fondo, local: true) do |f| %>
  <% if fondo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fondo.errors.count, "error") %> prohibited this fondo from being saved:</h2>

      <ul>
      <% fondo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %>
    <%= f.text_field :nombre %>
  </div>
  
  <div class="field">
    <%= f.label :image_jpg %>
    <%= f.file_field :image_jpg %>
  </div>
  
  
  <div class="field">
    <%= f.label :image_png %>
    <%= f.file_field :image_png %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
